body{
    margin: 0;
    background-color: rgb(75,65,55);
}

.board {
    padding: 10px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 5px;
    justify-content: center;
}

.grid-container { 
    display: flex;
    justify-content: start;
}

/* @media screen and (min-width: 950px) {
    .board {
        grid-template-columns: repeat(18, 55px);

    }
    .team-row {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container {
        grid-template-columns: 5% 40%;
        grid-gap: 20em;
    }
} */


.board > .card {
    aspect-ratio: 1 / 1;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 30px 25px 25px; */
}


.team {
    padding-top: 3px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
    row-gap: 5px;
    align-content: center;
    align-items: center;
}

.board > .card:hover {
    animation-name: card-hover;
    animation-delay: .5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes card-hover {
    0% {transform: scale(1)}
    33% {transform: scale(.75)}
    66% {transform: scale(1);}
}

.minigame-tile {
    background-color:  rgba(209, 209, 19, 0.781);
    background-image: url("event/minigames-tile.png");
    background-size: cover;

}

.showButton:hover {
    cursor: pointer;
}

.raids-tile {
    background-color: rgba(128, 0, 128, 0.705);
    background-image: url("event/raids-tile2.png");
    background-size: cover;
}

.slayer-boss-tile {
    background-color: rgba(255, 94, 0, 0.788);
    background-image: url("event/slayer-boss-tile.png");
    background-size: cover;
}

.slayer-monsters-tile {
    background-color: rgba(7, 10, 189, 0.788);
    background-image: url("event/slayer-monsters-tile.png");
    background-size: cover;
}

.monster-mash-tile {
    background-color: rgb(8, 226, 8);
    background-image: url("event/monster-mash-tile.png");
    background-size: cover;
}

.wilderness-tile {
    background-color: rgba(219, 36, 36, 0.801);
    background-image: url("event/wilderness-tile.png");
    background-size: cover;
}

.clues-tile {
    background-color: rgba(7, 235, 235, 0.589);
    background-image: url("event/clues-tile.png");
    background-size: cover;
}

.godwars-tile {
    background-color: rgba(7, 151, 108, 0.589);
    background-image: url("event/godwars-tile.png");
    background-size: cover;
}


.misc-boss-tile {
    background-color: rgba(236, 175, 96, 0.329);
    background-image: url("event/misc-boss-tile.png");
    background-size: cover;
}

.shop-tile {
    background-color: rgba(51, 248, 51, 0.644);
    background-image: url("event/shop-tile.png");
    background-size: cover;
}

.bank-tile {
    background-color: rgba(216, 219, 12, 0.87);
    background-image: url("event/bank-tile.png");
    background-size: cover;
}

.bowser-tile {
    background-color: rgba(226, 13, 59, 0.329);
    background-image: url("event/bowser-tile.png");
    background-size: cover;
}

.start-tile {
    background-color: rgba(236, 175, 96, 0.329);
    background-image: url("event/start-tile.png");
    background-size: cover;
}

.myModal {
    background-color: rgb(75,65,55);
    margin-top: 10%;
    box-shadow: 30px 25px 25px;
}
.modal-content {
    background-color: rgb(75,65,55);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex-grow: 1;
}

.choice-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.choice-grid > .card {

    aspect-ratio: 1 / 1;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -0px  10px 5px;
    width: 75px;
    height: 75px;
    
}
.modal-tasks {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.tbd {
    background-color: black;
}
.team {
    z-index: 10;
    padding: 3px;
    text-align: center;
}

.button-close {
  background-image: linear-gradient(#da5757a9, #eb0404b7);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: rsText , sans-serif;
  font-size: .9em;
  /* margin: 5px; */
  /* padding: 5px 10px; */
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-complete {
    background-image: linear-gradient(#0fdd21a9, #78d639b7);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: rsText , sans-serif;
    font-size: .9em;
    margin: 5px;
    /* padding: 5px 10px; */
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-obtained {
    background-image: linear-gradient(#676b67a9, #181a17b7);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: rsText , sans-serif;
    font-size: .9em;
    margin: 5px;
    /* padding: 5px 10px; */
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

del {
    color: red;
}


dialog {
    max-height: 50%;
}

.modal-header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: end;
    border-bottom: #ffff00 solid 1px;
}
.modal-footer {
    text-align: right;
}
@font-face {
    font-family: rsText;
    src: url('RuneScape-UF.woff2') format('woff2'),
         url('RuneScape-UF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  

.rsText {
    color: #ffff00;
    font-size: 1rem !important;
    font-family: rsText;
}


svg {
    z-index: -10;
}


.team-1-color {
    color: #7348f7 !important;
}
.team-2-color {
    color: #58040f;
}
.team-3-color {
    color: #e85254;
}
.team-4-color {
    color: #18a78a;
}
.team-5-color {
    color: #59c32e;
}
.team-6-color {
    color: #949ef6;
}
.team-7-color {
    color: #8b1674;
}
.team-8-color {
    color: #994d06;
}
.team-9-color {
    color: #66c9ed;
}
.team-10-color {
    color: #bbebbf;
}
.team-11-color {
    color: #df842d;
}
.team-12-color {
    color: #fd19cb;
}
.team-13-color {
    color: #1c0e32;
}
.team-14-color {
    color: #4262a0;
}
.team-15-color {
    color: #908c60;
}


.body-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}



.login-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
}

.login-button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    
}

table { 
    box-shadow: 0px 0px 25px 10px black;
}

table, th, td {
    border: white 1px solid;
    text-align: center;
}

.td-no-style {
    all:unset
}

.td-small {
    all: unset;
    width: 2em;    
}

.disabled {
    pointer-events: none;
}



/* nav style */

header {
    background: rgba(46, 53, 51, 0.85);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: wheat;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgba(46, 53, 51, 0.85);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}


.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    
    nav a {
        opacity: 1;
        position: relative;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 25px 10px black; */
    
}

.add-team {
    display: grid;
    grid-template-columns: 300px;
    row-gap: 5px;
    box-shadow: 0px 0px 25px 10px black;
    justify-items: center;
    
}

.teamForm {
    display: grid;
    justify-items: center;
}

.teams {
    display: none;
}

.teams-box {

    display: grid;
    grid-template-columns: repeat(4, 5rem);
    /* box-shadow: 0px 0px 25px 10px black; */
    justify-items: center;
    justify-content: center;
}

.choice-menu {
    box-shadow: 0 -0px  10px 5px red;
    animation: shake 1.99s cubic-bezier(.36,.07,.19,.97) both;

}

@keyframes shake {
    10%{
      transform: translate3d(-1px, 0, 0);
      transform: scale(.5);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
    90% {
        transform: translate3d(-1px, 0, 0);
    }
  }

.roll {
    display: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 20%;
    animation-name: roll-animation;
    animation-fill-mode: fowards;
    animation-duration: 5s;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes roll-animation {

    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
    
}

.roll > h1 {
    /* font-weight: 900; */
    font-size: 5rem !important;
}
.roll-information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-color {
    box-shadow: 0 -0px  10px 5px white;
}

.travel-color-end {
    animation: shake 1.99s cubic-bezier(.36,.07,.19,.97) both;
    box-shadow: 0 -0px  10px 5px rgb(7, 233, 37);
}