{% extends "base_clan_event.html" %}

{% block title %}
Clan Event Board
{% endblock %}

{% block context %}


<dialog class="myModal" id="modal">
    <div class="modalContent rsText" id="tileModal">
       <header class="modalHeader">
            <h4>Skilling minigames</h4>
            <button class="button-70 close-button" role="button">&times;</button>
        </header>
        <hr>
        <div>
            <ul>
                <li>Wintertodt</li>
                    <ul>
                        <li>Four Pyromance pieces (can repeat)</li>
                        <li>Tome of Fire</li>
                        <li>Phoenix</li>
                        <li>Dragon Axe (only from Wintertodt)</li>

                    </ul>
            </ul>
            <ul>
                <li>Wintertodt</li>
                    <ul>
                        <li>Four Pyromance pieces (can repeat)</li>
                        <li>Tome of Fire</li>
                        <li>Phoenix</li>
                        <li>Dragon Axe (only from Wintertodt)</li>

                    </ul>
            </ul>
            <ul>
                <li>Wintertodt</li>
                    <ul>
                        <li>Four Pyromance pieces (can repeat)</li>
                        <li>Tome of Fire</li>
                        <li>Phoenix</li>
                        <li>Dragon Axe (only from Wintertodt)</li>

                    </ul>
            </ul>
            <ul>
                <li>Wintertodt</li>
                    <ul>
                        <li>Four Pyromance pieces (can repeat)</li>
                        <li>Tome of Fire</li>
                        <li>Phoenix</li>
                        <li>Dragon Axe (only from Wintertodt)</li>

                    </ul>
            </ul>
            <ul>
                <li>Wintertodt</li>
                    <ul>
                        <li>Four Pyromance pieces (can repeat)</li>
                        <li>Tome of Fire</li>
                        <li>Phoenix</li>
                        <li>Dragon Axe (only from Wintertodt)</li>

                    </ul>
            </ul>
        </div>
    </div>
    
</dialog>

<div class="grid-container">
    <div class="team-row  showButton">
      <div class="test" id="element-1-1">
        <span class="rsText team-1-color">Team 1</span>
      </div>
      <div class="test" id="element-2-1">
        <p class="rsText team-2-color">Team 2</p>
      </div>
      <div class="test" id="element-3-1">
        <p class="rsText team-3-color">Team 3</p>
      </div>
      <div class="test" id="element-4-1">
        <p class="rsText team-4-color">Team 4</p>
      </div>
      <div class="test" id="element-5-1">
        <p class="rsText team-5-color">Team 5</p>
      </div>
      <div class="test" id="element-6-1">
        <p class="rsText team-6-color">Team 6</p>
      </div>
      <div class="test" id="element-7-1">
        <p class="rsText team-7-color">Team 7</p>
      </div>
      <div class="test" id="element-8-1">
        <p class="rsText team-8-color">Team 8</p>
      </div>
      <div class="test" id="element-9-1">
        <p class="rsText team-9-color">Team 9</p>
      </div>
      <div class="test" id="element-10-1">
        <p class="rsText team-10-color">Team 10</p>
      </div>
      <div class="test" id="element-11-1">
        <p class="rsText team-11-color">Team 11</p>
      </div>
      <div class="test" id="element-12-1">
        <p class="rsText team-12-color">Team 12</p>
      </div>
      <div class="test" id="element-13-1">
        <p class="rsText team-13-color">Team 13</p>
      </div>
      <div class="test" id="element-14-1">
        <p class="rsText team-14-color">Team 14</p>
      </div>
      <div class="test" id="element-15-1">
        <p class="rsText team-15-color">Team 15</p>
      </div>
      <div class="test showAll" id="showAll">
        <span class="rsText">All</span>
      </div>
    </div>

    <div class="container">
        <div class="board">
            {% for tile  in all_tiles %}
    
            {% if tile["type"] == "E" %}
            <div></div>
    
            {% elif tile["type"] == 1 %}
            <div class="card minigame-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 2 %}
            <div class="card raids-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 3 %}
            <div class="card slayer-boss-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 4 %}
            <div class="card slayer-monsters-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 5 %}
            <div class="card monster-mash-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 6 %}
            <div class="card wilderness-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 7 %}
            <div class="card clues-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 8 %}
            <div class="card godwars-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == 9 %}
            <div class="card misc-boss-tile open-button rsText" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == "B" %}
            <div class="card rsText tbd" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == "X" %}
            <div class="card rsText tbd" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% elif tile["type"]  == "S" %}
            <div class="card rsText tbd" id="element-2">{{tile['id']}}</div>
    
            {% elif tile["type"]  == "O" %}
            <div class="card rsText tbd" id="{{tile['id']}}">{{tile['id']}}</div>
    
            {% endif %}
            {% endfor %}
        </div>
    </div>



    <!-- <div class="container">
      <div class="board">
        <div class="card monster-mash-tile "></div>
        <div class="card clues-tile open-button"></div>
        <div class="card raids-tile open-button"></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div class="card clues-tile open-button"></div>
        <div class="card monster-mash-tile "></div>
        <div class="card misc-boss-tile open-button"></div>
        <div></div>
        <div></div>
        <div class="card wilderness-tile open-button"></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div class="card raids-tile open-button"></div>
        <div class="card monster-mash-tile "></div>
        <div class="card clues-tile open-button"></div>
        <div></div>
        <div class="card minigame-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card clues-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card godwars-tile open-button"></div>
        <div class="card godwars-tile open-button"></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div></div>
        <div class="card monster-mash-tile "></div>
        <div></div>
        <div class="card monster-mash-tile "></div>
        <div></div>
        <div class="card"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card raids-tile open-button"></div>
        <div></div>
        <div class="card clues-tile open-button"></div>
        <div></div>
        <div class="card clues-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div class="card clues-tile open-button"></div>
        <div class="card"></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card raids-tile open-button"></div>
        <div class="card clues-tile open-button"></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div></div>
        <div class="card godwars-tile open-button"></div>
        <div></div>
        <div class="card godwars-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div></div>
        <div></div>
        <div class="card wilderness-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card godwars-tile open-button"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div></div>
        <div class="card godwars-tile open-button"></div>
        <div></div>
        <div></div>
        <div class="card raids-tile open-button"></div>
        <div class="card godwars-tile open-button"></div>
        <div></div>
        <div></div>
        <div class="card raids-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card"></div>
        <div></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card"></div>
        <div class="card monster-mash-tile "></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div class="card wilderness-tile open-button"></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div class="card raids-tile open-button"></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div></div>
        <div class="card monster-mash-tile "></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card godwars-tile open-button"></div>
        <div class="card clues-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card wilderness-tile open-button"></div>
        <div></div>
        <div></div>
        <div class="card clues-tile open-button"></div>
        <div></div>
        <div class="card monster-mash-tile "></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card raids-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card godwars-tile open-button"></div>
        <div></div>
        <div></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div></div>
        <div class="card misc-boss-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card monster-mash-tile "></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card wilderness-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card clues-tile open-button"></div>
        <div></div>
        <div class="card slayer-monsters-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card monster-mash-tile "></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card raids-tile open-button"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card wilderness-tile open-button"></div>
        <div></div>
        <div class="card godwars-tile open-button"></div>
        <div class="card monster-mash-tile "></div>
        <div class="card monster-mash-tile "></div>
        <div class="card wilderness-tile open-button"></div>
        <div class="card slayer-boss-tile open-button"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card wilderness-tile open-button"></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card misc-boss-tile open-button"></div>
        <div class="card clues-tile open-button"></div>
        <div class="card"></div>
        <div class="card minigame-tile open-button"></div>
        <div class="card wilderness-tile open-button" id="5"></div>
        <div class="card" id="4"></div>
        <div class="card wilderness-tile open-button" id="3"></div>
        <div class="card monster-mash-tile" id="2"></div>
        <div class="card" id="1"></div>
      </div>
    </div> -->
</div>

    <!-- <div class="grid-container">
        <div class="team-row  showButton">

            <div class="test" id="element-1-1">
                <span class="rsText team-1-color">Team 1</span>
            </div>
    
            <div class="test" id="element-2-1">
                <p class="rsText team-2-color">Team 2</p>
            </div>
    
            <div class="test" id="element-3-1">
                <p class="rsText team-3-color">Team 3</p>
            </div>
    
            <div class="test" id="element-4-1">
                <p class="rsText team-4-color">Team 4</p>
            </div>
    
            <div class="test" id="element-5-1">
                <p class="rsText team-5-color">Team 5</p>
            </div>
            <div class="test" id="element-6-1">
                <p class="rsText team-6-color">Team 6</p>
            </div>
    
            <div class="test" id="element-7-1">
                <p class="rsText team-7-color">Team 7</p>
            </div>
    
            <div class="test" id="element-8-1">
                <p class="rsText team-8-color">Team 8</p>
            </div>
    
            <div class="test" id="element-9-1">
                <p class="rsText team-9-color">Team 9</p>
            </div>
    
            <div class="test" id="element-10-1">
                <p class="rsText team-10-color">Team 10</p>
            </div>
            <div class="test" id="element-11-1">
                <p class="rsText team-11-color">Team 11</p>
            </div>
    
            <div class="test" id="element-12-1">
                <p class="rsText team-12-color">Team 12</p>
            </div>
    
            <div class="test" id="element-13-1">
                <p class="rsText team-13-color">Team 13</p>
            </div>
    
            <div class="test" id="element-14-1">
                <p class="rsText team-14-color">Team 14</p>
            </div>
    
            <div class="test" id="element-15-1">
                <p class="rsText team-15-color">Team 15</p>
            </div>

            <div class="test showAll" id="showAll">
                <span class="rsText">All</span>
            </div>

        </div> -->





<!-- <div class="container">
    <div class="board">
        <div></div>
        <div></div>
        <div></div>
        <div class="card minigame-tile open-button" type="minigame">
            <div class="team">

            </div>
            
        </div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card raids-tile"></div>
        <div class="card slayer-boss-tile"></div>
        <div></div>
        <div></div>
        <div></div>
    
        <div></div>
        <div></div>
        <div></div>
        <div class="card slayer-monsters-tile"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card"></div>
        <div></div>    
        <div></div>    
        <div></div>    
    
        <div></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div></div>
        <div></div>
        <div class="card monster-mash-tile"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        
    
        <div></div>
        <div class="card"></div>
        <div></div>
        <div class="card"></div>
        <div></div>    
        <div></div>
        <div class="card wilderness-tile"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card"></div>
    
        <div></div>
        <div class="card"></div>
        <div></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card clues-tile"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    
        <div></div>
        <div class="card godwars-tile" id="element-1"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card"></div>
        <div></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card"></div>
    
        <div></div>
        <div class="card"></div>
        <div></div>
        <div></div>
        <div class="card"></div>
        <div></div>
        <div class="card misc-boss-tile"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    
        <div></div>
        <div class="card"></div>
        <div></div>
        <div></div>
        <div class="card"></div>
        <div></div>
        <div class="card"></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="card"></div>
    
        <div class="card" id="element-2"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
</div>
</div> -->













{% endblock %}

