{% extends "base_clan_event.html" %}

{% block title %}
Clan Event - Team Login
{% endblock %}

{% block context %}

<body class="body-center">
    <div class="rsText">
        <h1 class="title">Clan event team</h1>
    
        <form class="login-form" method="POST">
            <label class="" for="username">Username</label>
            <input class="" type="username" name="username" id="username" placeholder="username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="************">

            <button class="login-button">Login</button>
        </form>
    </div>
</body>




{% endblock %}